@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Main Colors */
    --primary-color: #0074f2;
    --secondary-color: #eda424;

    --action1-color: #63e2e5;
    --action2-color: #5cf285;

    --dark-color: #0d1035;
    --dark-blue-color: #20407f;

    --black-color: #202020;
    --black2-color: #272828;
    --dark-gray-color: #3B3B3C;
    --dark-gray2-color: #636364;

    --tangy-color: #FCFFFD;
    --bold-color: #FBFCFD;
    --gray-color: #F9F9F9;
    --light-gray-color: #EEEEEE;
    --ship-color: #3E3A44;

    /* Font */
    --main-font: 'Archivo', sans-serif;

    /* Transitions */
    --transition: all 0.3s;
    --glide: all 1925ms linear(0, 0.013 1%, 0.051 2.2%, 0.404 9.8%, 0.51 12.6%, 0.602 15.5%, 0.683 18.7%, 0.754 22.2%, 0.813 26%, 0.861 30.2%, 0.9 34.8%, 0.931 40%, 0.972 52.7%, 0.992 70.2%, 1);
    --lazy: all 2650ms linear(0, 0.009 1.4%, 0.032 2.8%, 0.131 6%, 0.265 9.1%, 0.675 17.6%, 0.88 22.8%, 0.953 25.2%, 1.014 27.7%, 1.062 30.3%, 1.094 32.9%, 1.121 37.2%, 1.121 42.2%, 1.102 46.7%, 1.019 61.2%, 0.989 71.5%, 0.985 81.1%, 1);
    --sine: all 0.3s cubic-bezier(0.36, 0, 0.64, 1);
    --quad: all 0.5s cubic-bezier(0.44, 0, 0.56, 1);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
}

body.stopScrolling {
    height: 100%;
    overflow: hidden;
}

input,
textarea {
    font-size: 0.8rem;
    outline: none;
    border: none;
    background: transparent;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 1023px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .container {
        width: 95%;
    }
}

a {text-decoration: none;}
ul {list-style: none;}

/* Start Scroll Bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--dark-color);
    box-shadow: 0 5px 30px rgba(12, 1, 22, 0.204);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 25px;
}

/* End Scroll Bar */

/* text style */

h1, h2 ,h3, h4, h5 { line-height: 1.2; }

h1 {font-size: var(--h1-size);}

h2 {font-size: var(--h2-size);}

h3 {font-size: var(--h3-size);}

p {font-size: var(--p-size);}

/* img style */

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* btn style */

button {
    background: none;
    outline: none;
    padding: 0;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
}

/* Header */

header.header {
    position: fixed;
    right: 0;
    left: 0;
    top: 25px;
    z-index: 99999;
    width: 100%;
    background: var(--tangy-color);
    border: 1px solid var(--gray-color);
    border-radius: 50px;
    padding: 15px 25px;
}

header.header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header.header nav .logo {
    width: max-content;
    height: max-content;
}

header.header nav .logo img {
    max-width: 70px;
    width: 100%;
}

header.header nav .logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

header.header nav .logo a h1 {
    font-size: 1rem;
    line-height: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--dark-blue-color);
    width: 75px;
}

header.header nav .logo a h1 span {
    color: var(--secondary-color);
}

header.header nav .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

header.header nav .links .link a {
    position: relative;
    color: var(--dark-blue-color);
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 15px;
}

header.header nav .links .link a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 0%;
    background-color: var(--dark-blue-color);
    transition: var(--transition);
}

header.header nav .links .link.active a {
    color: var(--primary-color);
}

header.header nav .links a:hover::after {
    width: 100%;
}

header nav .links .link.active a::after {
    background: var(--primary-color);
    width: 100%;
}

header.header nav .contact_btn a {
    background-image: linear-gradient(to right top, #0d1035, #162054, #1e3275, #234499, #2158be, #1470d5, #0488eb, #00a1ff, #00beff, #00d5ef, #00e6bf, #5cf285);
    padding: 15px 20px;
    color: var(--tangy-color);
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 25px;
    text-transform: uppercase;
}

header.header nav .menubtn {
    visibility: hidden;
    display: none;
}

header.header nav .menubtn button i {
    line-height: 0;
    color: var(--bold-color);
}

header.header nav .menubtn button {
    padding: 1em;
    list-style: 0;
    font-size: 1em;
    border-radius: 5px;
    background-image: linear-gradient(to right top, #0d1035, #162054, #1e3275, #234499, #2158be, #1470d5, #0488eb, #00a1ff, #00beff, #00d5ef, #00e6bf, #5cf285);
    height: 30px;
    width: 30px;
    display: none;
    align-items: center;
    justify-content: center;
}

header.header nav .menubtn #open {
    visibility: visible;
    opacity: 1;
    display: flex;
    transition: var(--glide);
}

header.header nav .menubtn.active #open {
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: var(--glide);
}
header.header nav .menubtn #close {
    transform: rotate(45deg);
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: var(--glide);
}

header.header nav .menubtn.active #close {
    transition: var(--glide);
    transform: rotate(0deg);
    visibility: visible;
    opacity: 1;
    display: flex;
}

header.header2 {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 9999;
    margin: 0 auto;
}

header.header2 .mobilenav {
    position: absolute;
    top: -30px;
    width: 100%;
    height: 0;
    border-radius: 25px;
    padding: 1.5em 0em;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    background: var(--light-gray-color);
    transition: var(--glide);
}

header.header2 .mobilenav.active {
    top: 30px;
    height: 315px;
    visibility: visible;
    opacity: 1;
    padding: 1.5em 1.5em;
    transition: var(--glide);
}

header.header2 .mobilenav .moblinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

header.header2 .mobilenav .moblinks .link a {
    position: relative;
    color: var(--dark-blue-color);
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 15px;
}

header.header2 .mobilenav .moblinks .link a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: var(--dark-blue-color);
    transition: var(--transition);
}

header.header2 .mobilenav .moblinks .link.active a {
    color: var(--primary-color);
}

header.header2 .mobilenav .moblinks a:hover::after {
    width: 100%;
}

header.header2 .mobilenav .moblinks .link.active a::after {
    background: var(--primary-color);
    width: 100%;
}

header.header2 .mobilenav .mob_btn {
    background-image: linear-gradient(to right top, #0d1035, #162054, #1e3275, #234499, #2158be, #1470d5, #0488eb, #00a1ff, #00beff, #00d5ef, #00e6bf, #5cf285);
    padding: 15px 20px;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 25px;
    text-transform: uppercase;
    width: fit-content;
}

header.header2 .mobilenav .mob_btn a {
    color: var(--tangy-color);
}

/* ===================================== */

/* Hero Section */

.hero {
    padding-block: 135px;
    background-color: var(--tangy-color);
    background-image: radial-gradient(circle, var(--light-gray-color) 0.2px, transparent 1.2px);
    background-size: 15px 15px;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .topHero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.hero .topHero h4 {
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-170%, 0%);
    color: var(--ship-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
}

.hero .topHero h4::before {
    content: "";
    position: absolute;
    top: 17px;
    left: -35px;
    height: 2.3px;
    width: 30px;
    background: var(--primary-color);
}

.hero .topHero h4 span {
    color: var(--primary-color);
}

.hero .topHero h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
}

.hero .topHero h1 span {
    font-style: italic;
    font-weight: 800;
    color: var(--primary-color);
}

.hero .topHero p {
    color: var(--ship-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.hero .iamHero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.hero .iamHero .myImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* top: 100%; */
}

.hero .iamHero .myImage .myctabtns {
    position: absolute;
    bottom: 150px;
    background-color: var(--tangy-color);
    padding: 10px 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
}

i {
    padding: 0;
}

.hero .iamHero .myImage .myctabtns .ctabtn {
    border-radius: 50px;
    padding: 15px 20px;
    color: var(--ship-color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
}

.hero .iamHero .myImage .myctabtns .goPort {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--tangy-color);
    line-height: 0;
    transition: var(--sine);
}

.hero .iamHero .myImage .myctabtns .goPort span {
    background: var(--secondary-color);
    padding: 5px;
    border-radius: 50%;
    transition: var(--sine);
    font-size: 1rem;
}

.hero .iamHero .myImage .myctabtns .goOrder {
    color: var(--ship-color);
    border: 1px solid var(--ship-color);
    transition: var(--sine);
}

.hero .iamHero .myImage .myctabtns .goPort:hover {
    background: var(--action2-color);
    color: var(--black-color);
    transition: var(--sine);
}

.hero .iamHero .myImage .myctabtns .goPort:hover span {
    color: var(--dark-color);
    background: var(--bold-color);
    transition: var(--sine);
}

.hero .iamHero .myImage .myctabtns .goOrder:hover {
    color: var(--ship-color);
    background: var(--action1-color);
    border: 1px solid transparent;
    transition: var(--sine);
}

.hero .iamHero .myImage .myImg {
    width: 400px;
    height: 650px;
    overflow: hidden;
}

.hero .iamHero .myImage .myImg img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.hero .iamHero .myAbout {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 35px 15px;
}

.hero .iamHero .myAbout .quta .quateIcon {
    color: var(--secondary-color);
    font-size: 45px;
}

.hero .iamHero .myAbout .quta p {
    width: 90%;
    font-size: 22px;
    line-height: 30px;
    text-align: start;
    color: var(--ship-color);
}

.hero .iamHero .myAbout .clients {
    display: flex;
    flex-direction: column;
}

.hero .iamHero .myAbout .clients .avatars {
    display: flex;
}

.hero .iamHero .myAbout .clients .avatars li {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: 4px solid var(--bold-color);
    border-radius: 50%;
}

.hero .iamHero .myAbout .clients .avatars li img {
    width: 100%;
}

.hero .iamHero .myAbout .clients .maintext {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
    color: var(--primary-color);
}

.hero .iamHero .myAbout .clients .maintext span {
    color: var(--ship-color);
}

.hero .iamHero .myAbout .clients .pragraph {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: var(--ship-color);
}

.hero .iamHero .social_tags {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: start;
    gap: 35px;
}

.hero .iamHero .social_tags .tag_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: end;
    width: 70%;
}

i {
    padding: 0;
    line-height: 0;
}

.hero .iamHero .social_tags .tag_group .tag {
    padding: 15px;
    width: fit-content;
    height: 46px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

.hero .iamHero .social_tags .tag_group .tag1,
.hero .iamHero .social_tags .tag_group .tag4,
.hero .iamHero .social_tags .tag_group .tag6 {
    background: var(--dark-color);
    color: var(--tangy-color);
}

.hero .iamHero .social_tags .tag_group .tag3 {
    width: 46px;
    height: 46px;
}

.hero .iamHero .social_tags .tag_group .tag2,
.hero .iamHero .social_tags .tag_group .tag3,
.hero .iamHero .social_tags .tag_group .tag5 {
    background: var(--secondary-color);
    color: var(--tangy-color);
}

.hero .iamHero .social_tags .social_group {
    padding-block: 25px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
}

.hero .iamHero .social_tags .social_group .social_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

.hero .iamHero .social_tags .social_group .social_link a {
    width: 50px;
    height: 50px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--dark-color);
    border-radius: 50px;
    background: var(--bold-color);
    transition: var(--transition);
}

.hero .iamHero .social_tags .social_group .social_link a:hover {
    background-color: var(--primary-color);
    color: var(--bold-color);
    transition: var(--transition);
}

/* ===================================== */

/* Bar Section */

.sliderbar {
    background: var(--dark-color);
    overflow: hidden;
    display: flex;
    gap: 1em;
}

.sliderbar .group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    padding-right: 1em;
    animation: scrolling 15s infinite linear;
}

.sliderbar .group .card {
    /* flex: 0 0 5em; */
    width: 100%;
    padding: 1em;
    text-align: center;
    align-content: center;
    font-size: 30px;
    color: var(--bold-color);
}

.sliderbar .group .card h1 {
    width: max-content;
}

.sliderbar .group .card i {
    color: var(--secondary-color);
}

@keyframes scrolling {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* ===================================== */

/* Services Section */

.services {
    padding-block: 50px;
    background-color: var(--tangy-color);
    background-size: 15px 15px;
    overflow: hidden;
    margin: 0 auto;
}

.services .servicesheader {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.services .servicesheader .servicehead h4 {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    left: 3%;
}

.services .servicesheader .servicehead h4::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: -3%;
    background: var(--primary-color);
    height: 2.5px;
    width: 30px;
}

.services .servicesheader .servicehead2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services .servicesheader .servicehead2 h2 {
    color: var(--ship-color);
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
}

.services .servicesheader .servicehead2 h2 span {
    color: var(--primary-color);
    font-style: italic;
    font-weight: 600;
}

.services .servicesheader .servicehead2 p {
    width: 25%;
    text-align: end;
}

.servicesbody {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
}

.servicesbody .accordion-item {
    background-color: var(--tangy-color);
    border: 2px solid var(--gray-color);
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.4s ease;
}

.servicesbody .accordion-item.active {
    background-color: var(--gray-color);
    border-color: var(--tangy-color);
    transition: all 0.4s ease;
}

.accordion-item .servicehead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 16px 16px;
    cursor: pointer;
}

.accordion-item .servicehead .col h1 {
    color: var(--dark-blue-color);
    font-weight: 800;
    font-size: 28px;
    text-align: start;
}

.accordion-item .servicehead .col.num {
    width: 40px;
}

.accordion-item .servicehead .col.servname {
    width: 90%;
}

.accordion-item .servicehead .col i {
    line-height: 0;
    padding: 0;
}

.accordion-item .servicehead .col.icon {
    font-size: 32px;
    width: 40px;
    height: 40px;
    color: var(--secondary-color);
    background-color: var(--tangy-color);
    border: 1px solid var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: rotate(-0deg);
    transition: all 0.4s ease;
}

.accordion-item .servicehead:hover .col.icon {
    transform: rotate(-45deg);
    color: var(--gray-color);
    background-color: var(--secondary-color);
    transition: all 0.4s ease;
}

.accordion-item.active .servicehead .col.icon {
    transform: rotate(-45deg);
    color: var(--gray-color);
    background-color: var(--secondary-color);
    transition: all 0.4s ease;
}

.accordion-item .servicebody {
    max-height: 0vh;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0px 16px;
    line-height: 1.3;
    transition: all 0.4s ease;
}

.accordion-item.active .servicebody {
    max-height: 100vh;
    padding: 16px 16px;
}

.accordion-item .servicebody .servtags {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.accordion-item .servicebody .servtags .servtag {
    padding: 10px 15px;
    /* max-width: 500px; */
    background: var(--gray-color);
    color: var(--dark-gray-color);
    border: 1px solid var(--dark-gray-color);
    border-radius: 25px;
}

.accordion-item .servicebody .discrip {
    width: 70%;
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 16px;
    color: var(--dark-gray-color);
}

.accordion-item .servicebody .servimg {
    max-width: 70%;
    height: 500px;
    overflow: hidden;
    border: 2px solid var(--dark-gray-color);
    border-radius: 25px;
}

.accordion-item .servicebody .servimg img {
    width: 100%;
    height: 100%;
}

/* ===================================== */

/* About Section */

.about {
    padding-block: 100px;
    width: 100%;
    background-color: var(--bold-color);
}

.about .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.about .row .col.photo {
    position: relative;
    /* width: 100%; */
}

.about .row .col .absulotags {
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
    position: absolute;
}

.about .row .col .absulotags .clientag {
    position: absolute;
    top: 50px;
    left: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
    text-align: center;
    background: var(--gray-color);
    padding: 5px;
    width: 110px;
    height: 135px;
    border-radius: 50% 50% 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.about .row .col .absulotags .clientag .tagicon i {
    padding: 0;
}

.about .row .col .absulotags .clientag .tagicon {
    background-color: var(--secondary-color);
    color: var(--bold-color);
    box-shadow: #eda424 0px 6px 20px 0px;
    width: 50px;
    height: 50px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.about .row .col .absulotags .clientag .tagtext p {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--black2-color);
}

.about .row .col .absulotags .clientag .tagtext h3 {
    font-size: 28px;
    font-weight: 800;
}

.about .row .col .absulotags .designertag {
    position: absolute;
    bottom: 0;
    right: -50px;
    width: 273px;
    height: 40px;
    background: var(--bold-color);
    border: 1px solid var(--light-gray-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 25px 6px;
    border-radius: 50px;
}

.about .row .col .absulotags .designertag .desicon i {
    line-height: 0;
    padding: 0;
}

.about .row .col .absulotags .designertag .desicon {
    width: 40px;
    height: 40px;
    font-size: 23px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: var(--bold-color);
    background: linear-gradient(45deg,rgba(13, 16, 53, 1) 0%, rgba(0, 116, 242, 1) 35%, rgba(92, 242, 133, 1) 100%)
}

.about .row .col .absulotags .designertag .destext p {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 16px;
}

.about .row .col .aboutimg {
    max-width: 500px;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .row .col .aboutimg img {
    width: 100%;
    height: 100%;
}

.about .row .col.info {
    width: 75%;
}

.about .row .col .aboutitle h4 {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--dark-gray-color);
    left: 7%;
    margin-bottom: 10px;
}

.about .row .col .aboutitle h4::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: -7%;
    background: var(--primary-color);
    height: 2px;
    width: 30px;
}

.about .row .col .aboutitle h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
}

.about .row .col .aboutitle h2 span {
    font-style: italic;
    font-weight: 800;
    color: var(--primary-color);
}

.about .row .col .aboutext p {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    color: var(--dark-gray-color);
}

.about .row .col .conterabout {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    /* justify-content: space-between; */
}

.about .row .col .conterabout .contercol {
    width: 30%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.about .row .col .conterabout .contercol h2 {
    font-size: 2rem;
    color: var(--primary-color);
}

.about .row .col .conterabout .contercol p {
    font-size: 14px;
    padding-block: 10px;
}

.about .row .col .aboutcta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.about .row .col .aboutcta .callbtn a,
.about .row .col .aboutcta .mailbtn a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: max-content;
    height: 55px;
    padding: 15px 10px;
    background: var(--gray-color);
    border: 1px solid var(--dark-gray2-color);
    border-radius: 50px;
    color: var(--black2-color);
    transition: var(--transition);
}

.about .row .col .aboutcta .callbtn a i,
.about .row .col .aboutcta .mailbtn a i {
    background: var(--secondary-color);
    padding: 10px;
    color: var(--bold-color);
    border-radius: 50%;
    transition: var(--transition);
}

.about .row .col .aboutcta .callbtn a:hover,
.about .row .col .aboutcta .mailbtn a:hover {
    background: var(--secondary-color);
    color: var(--bold-color);
    border-color: var(--secondary-color);
    transition: var(--transition);
}

.about .row .col .aboutcta .callbtn a:hover i,
.about .row .col .aboutcta .mailbtn a:hover i {
    background: var(--bold-color);
    color: var(--secondary-color);
    transition: var(--transition);
}

.about .row .col .aboutcta .callbtn a p,
.about .row .col .aboutcta .mailbtn a p {
    font-weight: 700;
    font-size: 16px;
}

/* ===================================== */

/* Program Section */

.myprogram {
    padding-block: 100px;
}

.myprogram .programtitle {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.myprogram .programtitle .proghead h4 {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--dark-gray-color);
    left: 12%;
    margin-bottom: 10px;
}
.myprogram .programtitle .proghead h4::before {
    content: "";
    position: absolute;
    bottom: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: -15%;
    background: var(--primary-color);
    height: 2px;
    width: 30px;
}

.myprogram .programtitle .proghead2 h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.myprogram .programtitle .proghead2 h2 span {
    font-style: italic;
    font-weight: 400;
    color: var(--primary-color);
}

.myprogram .programtitle .proghead2 h2 i {
    font-size: 0.85rem;
    line-height: 0;
}

.myprogram .row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    margin-top: 50px;
}

.myprogram .row .programcol {
    /* padding: 25px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.myprogram .row .programcol p {
    font-size: 16px;
    color: var(--dark-gray-color);
    font-weight: 500;
    text-transform: uppercase;
}

.myprogram .row .programcol .group {
    background: var(--gray-color);
    padding-block: 35px;
    width: 150px;
    height: 200px;
    border: 1px solid var(--light-gray-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: rotateY(0deg);
    transition: var(--lazy);
}

.myprogram .row .programcol:hover .group {
    transform: rotateY(360deg);
    transition: var(--lazy);
}

.myprogram .row .programcol .group.right {
    border-radius: 5px 75px 80px 80px;
}

.myprogram .row .programcol .group.left {
    border-radius: 75px 5px 80px 80px;
}

.myprogram .row .programcol .group .progicon {
    background: var(--light-gray-color);
    padding: 15px;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.myprogram .row .programcol .group .progicon i {
    background: linear-gradient(45deg,rgba(13, 16, 53, 1) 0%, rgba(0, 116, 242, 1) 35%, rgba(92, 242, 133, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    line-height: 0;
}

.myprogram .row .programcol .group h1 {
    font-size: 26px;
    font-weight: 700;
}

/* ===================================== */

/* Project Section */

.project {
    padding-block: 100px;
}

.project .projectitle i {
    line-height: 0;
}

.project .projectitle {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.project .projectitle .projhead h4 {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--dark-gray-color);
    left: 9%;
    margin-bottom: 10px;
}

.project .projectitle .projhead h4::before {
    content: "";
    position: absolute;
    bottom: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: -5%;
    background: var(--primary-color);
    height: 2px;
    width: 30px;
}

.project .projectitle .projhead2 h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.project .projectitle .projhead2 h2 span {
    font-style: italic;
    font-weight: 400;
    color: var(--primary-color);
}

.project .projectitle .projhead2 h2 i {
    font-size: 1rem;
    line-height: 0;
    margin-left: 5px;
}

.project .projectitle .projectbtn button a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
    background: var(--black2-color);
    padding: 5px;
    border-radius: 50px;
    color: var(--bold-color);
}

.project .projectitle .projectbtn button a p {
    background: var(--secondary-color);
    border-radius: 50px;
    padding: 15px;
    font-weight: 700;
    transition: var(--sine);
}

.project .projectitle .projectbtn button:hover a p {
    background: var(--action2-color);
    color: var(--black-color);
    transition: var(--sine);
}

.project .projectitle .projectbtn button a .icon {
    padding: 15px;
    color: var(--dark-color);
    border-radius: 50px;
    font-size: 18px;
    background: var(--bold-color);
    transition: var(--sine);
}

.project .projectitle .projectbtn button:hover a .icon {
    color: var(--action1-color);
    transition: var(--sine);
}

.project .projectitle .projectbtn button a .icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.project .projectgrids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-content: center;
    margin-top: 50px;
}

.project .projectgrids .card {
    background: var(--tangy-color);
    border: 1px solid var(--gray-color);
    border-radius: 15px;
    padding: 10px;
}

.project .projectgrids .card .imgfuture {
    position: relative;
    max-width: 808px;
    max-height: 632px;
    overflow: hidden;
    border-radius: 15px;
    transition: var(--quad);
}

.project .projectgrids .card .imgfuture img {
    width: 100%;
    height: 100%;
    filter: contrast(0%);
    filter: grayscale(100%);
    transition: var(--quad);
}

.project .projectgrids .card:hover .imgfuture img {
    transform: scale(1.2) rotate(10deg);
    filter: contrast(200%);
    filter: grayscale(0%);
    transition: var(--quad);
}

.project .projectgrids .card .imgfuture button i {
    line-height: 0;
    color: var(--dark-blue-color);
    transform: rotate(45deg);
    transition: var(--sine);
}

.project .projectgrids .card .imgfuture button {
    position: absolute;
    z-index: 11;
    bottom: 0;
    left: 0 ;
    font-size: 28px;
    background: var(--tangy-color);
    border-radius: 0px 20px 0px 20px;
    padding: 20px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--sine);
}

.project .projectgrids .card:hover .imgfuture button {
    background: var(--dark-blue-color);
    transition: var(--sine);
}

.project .projectgrids .card:hover .imgfuture button i {
    color: var(--action1-color);
    transform: rotate(0deg);
    transition: var(--sine);
}

.project .projectgrids .card .projectinfo {
    padding-block-start: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project .projectgrids .card .projectinfo h2.title {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--primary-color);
    text-transform: uppercase;
}

.project .projectgrids .card .projectinfo p.discription {
    font-size: 0.80rem;
    line-height: 18px;
    color: var(--dark-gray-color);
}

.project .projectgrids .card .projectinfo .projtags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.project .projectgrids .card .projectinfo .projtags .projtag {
    border: 1px solid var(--dark-gray2-color);
    padding: 10px;
    border-radius: 50px;
    margin-top: 10px;
    transition: var(--sine);
}

.project .projectgrids .card .projectinfo .projtags .projtag:hover {
    border: 1px solid transparent;
    background: var(--dark-color);
    color: var(--bold-color);
    transition: var(--sine);
}

/* ===================================== */

/* Testimonials Section */

.testimonial {
    padding-block: 100px;
    background-color: var(--bold-color);
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.testimonial .container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.testimonial .testitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonial .testitle .testhead h4 {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--dark-gray-color);
    left: 10%;
    margin-bottom: 10px;
}

.testimonial .testitle .testhead h4::before {
    content: "";
    position: absolute;
    bottom: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: -13%;
    background: var(--primary-color);
    height: 2px;
    width: 30px;
}

.testimonial .testitle .testhead2 h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.testimonial .testitle .testhead2 h2 span {
    font-style: italic;
    font-weight: 400;
    color: var(--primary-color);
}

.testimonial .testimonialgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.testimonial .testimonialgrid .testcard {
    background-color: var(--tangy-color);
    border: 2px solid var(--gray-color);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 25px 50px -12px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: var(--glide);
}

.testimonial .testimonialgrid .testcard .testhead i {
    line-height: 0;
}

.testimonial .testimonialgrid .testcard .testhead {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 27% 65% 15%;
    align-items: center;
    justify-content: center;
    padding: 0 20px 20px;
    justify-items: start;
    width: 100%;
}

.testimonial .testimonialgrid .testcard .testhead .clientimg {
    max-width: 125px;
    max-height: 125px;
    border-radius: 50%;
    border: 5px solid var(--gray-color);
    overflow: hidden;
    margin: 0 auto;
}

.testimonial .testimonialgrid .testcard .testhead .clieninfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.testimonial .testimonialgrid .testcard .testhead .clieninfo .group h2 {
    font-size: 1.45rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.testimonial .testimonialgrid .testcard .testhead .clieninfo .group p {
    font-size: 0.85rem;
}

.testimonial .testimonialgrid .testcard .testhead .clieninfo .stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.testimonial .testimonialgrid .testcard .testhead .clieninfo .stars .icons {
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 0;
}

.testimonial .testimonialgrid .testcard .testhead .quateicon {
    transform: rotate(180deg);
    margin: 0 auto;
    color: var(--secondary-color);
    background: var(--gray-color);
    border: 1px solid var(--light-gray-color);
    border-radius: 50%;
    padding: 25px;
    font-size: 26px;
    line-height: 0;
    transition: var(--glide);
}

.testimonial .testimonialgrid .testpragraph {
    margin-top: 15px;
    font-size: 1.15rem;
    font-weight: 500;
    color: var(--dark-gray-color);
    transition: var(--glide);
}

.testimonial .testimonialgrid .testcard:hover .testhead .quateicon {
    transform: rotateX(180deg);
    transition: var(--glide);
}

.testimonial .container .testpagenation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.testimonial .container .testpagenation .boult {
    width: 40px;
    height: 5px;
    border-radius: 50px;
    background: var(--light-gray-color);
}

.testimonial .container .testpagenation .boult.active {
    background: var(--secondary-color);
}

/* ===================================== */

/* FAQ Section */

.faq {
    padding-block: 100px;
}

.faq .faqtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.faq .faqtitle .faqhead h4 {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--dark-gray-color);
    left: 50%;
    margin-bottom: 10px;
}

.faq .faqtitle .faqhead h4::before {
    content: "";
    position: absolute;
    bottom: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: -50%;
    background: var(--primary-color);
    height: 2px;
    width: 30px;
}

.faq .faqtitle .faqhead2 h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.faq .faqtitle .faqhead2 h2 span {
    font-style: italic;
    font-weight: 400;
    color: var(--primary-color);
}

.faq .row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 75% 25%;
    gap: 25px;
    margin-top: 80px;
}

.faq .row .faqcol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq .faqcol.acc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.faq .row .faqcol .accordion {
    background: var(--tangy-color);
    border: 1px solid var(--gray-color);
    border-radius: 15px;
    overflow: hidden;
    transition: var(--sine);
}

.faq .row .faqcol .accordion.active {
    background: var(--gray-color);
    border-color: var(--dark-gray2-color);
    transition: var(--sine);
}

.faq .row .faqcol .accordion button.faqhead {
    width: 100%;
    height: 80px;
    padding: 16px 16px;
    cursor: pointer;
}

.faq .row .faqcol .accordion button.faqhead h2 {
    color: var(--dark-color);
    font-weight: 800;
    font-size: 22px;
    text-align: start;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq .row .faqcol .accordion button.faqhead h2::after {
    content: "+";
    transition: var(--sine);
}


.faq .row .faqcol .accordion.active button.faqhead h2::after {
    transform: rotate(45deg);
    transition: var(--sine);
}

.faq .row .faqcol .accordion .faqbody {
    max-height: 0vh;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0px 16px;
    line-height: 1.3;
    transition: var(--sine);
}

.faq .row .faqcol .accordion.active .faqbody {
    max-height: 100vh;
    padding: 16px 16px;
}

.faq .row .faqcol .contactcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 20px;
    background-color: var(--dark-color);
    padding: 60px 20px;
    height: 400px;
}

.faq .row .faqcol .contactcard i {
    font-size: 65px;
    color: var(--secondary-color);
}

.faq .row .faqcol .contactcard h2 {
    font-size: 20px;
    width: 75%;
    color: var(--bold-color);
}

.faq .row .faqcol .contactcard p {
    color: var(--bold-color);
    line-height: 1.5;
}

.faq .row .faqcol .contactcard button {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    color: var(--dark-gray-color);
    background-color: var(--action2-color);
}

.faq .row .faqcol .whatsappcard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: start;
    border-radius: 20px;
    padding: 20px 20px;
    background: var(--bold-color);
    border: 1.5px solid var(--dark-gray2-color);
    height: 150px;
}

.faq .row .faqcol .whatsappcard .whatsicon a  i {
    line-height: 0;
    font-size: 40px;
}

.faq .row .faqcol .whatsappcard .whatsicon a {
    color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq .row .faqcol .whatsappcard .text p {
    font-size: 17px;
    font-weight: 500;
}

.faq .row .faqcol .whatsappcard .text h1 {
    font-size: 24px;
    font-weight: 700;
}

.faq .row .faqcol .whatsappcard .text a {
    font-size: 18.8px;
    font-weight: 700;
    color: var(--dark-blue-color);
}

/* ===================================== */

/* Blog Section */

.blog {
    padding-block: 100px;
}

.blog .blogtitle i {
    line-height: 0;
}

.blog .blogtitle {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.blog .blogtitle .bloghead h4 {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--dark-gray-color);
    left: 15%;
    margin-bottom: 10px;
}

.blog .blogtitle .bloghead h4::before {
    content: "";
    position: absolute;
    bottom: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: -9%;
    background: var(--primary-color);
    height: 2px;
    width: 30px;
}

.blog .blogtitle .bloghead2 h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.blog .blogtitle .bloghead2 h2 span {
    font-style: italic;
    font-weight: 400;
    color: var(--primary-color);
}

.blog .blogtitle .bloghead2 h2 i {
    font-size: 1rem;
    line-height: 0;
    margin-left: 5px;
}

.blog .blogtitle .blogbtn button a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
    background: var(--black2-color);
    padding: 5px;
    border-radius: 50px;
    color: var(--bold-color);
}

.blog .blogtitle .blogbtn button a p {
    background: var(--secondary-color);
    border-radius: 50px;
    padding: 15px;
    font-weight: 700;
    transition: var(--sine);
}

.blog .blogtitle .blogbtn button:hover a p {
    background: var(--action2-color);
    color: var(--black-color);
    transition: var(--sine);
}

.blog .blogtitle .blogbtn button a .icon {
    padding: 15px;
    color: var(--dark-color);
    border-radius: 50px;
    font-size: 18px;
    background: var(--bold-color);
    transition: var(--sine);
}

.blog .blogtitle .blogbtn button:hover a .icon {
    color: var(--action1-color);
    transition: var(--sine);
}

.blog .blogtitle .blogbtn button a .icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.blog .bloggrid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 3);
    gap: 20px;
    margin-top: 50px;
}

.blog .bloggrid .blogcard {
    background: var(--gray-color);
    border: 1px solid var(--dark-gray2-color);
    padding: 15px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    transition: var(--quad);
}

.blog .bloggrid .blogcard:hover {
    transform: translateY(-10px);
    transition: var(--quad);
}

.blog .bloggrid .blogcard .blogfuture_img {
    position: relative;
    height: 450px;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid var(--dark-blue-color);
    filter: grayscale(50%);
    transition: var(--quad);
    margin-bottom: 15px;
}

.blog .bloggrid .blogcard .blogfuture_img a img {
    width: 100%;
    height: 100%;
}

.blog .bloggrid .blogcard .blogfuture_img .iconhover {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(0px);
    transition: var(--quad);
}

.blog .bloggrid .blogcard .blogfuture_img .iconhover i {
    background: var(--secondary-color);
    padding: 25px;
    border-radius: 50%;
    transform: rotate(45deg);
    color: var(--bold-color);
    transition: var(--quad);
}

.blog .bloggrid .blogcard:hover .blogfuture_img {
    filter: grayscale(0%) contrast(120%);
    transition: var(--quad);
}

.blog .bloggrid .blogcard:hover .blogfuture_img .iconhover {
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(4px);
    transition: var(--quad);
}

.blog .bloggrid .blogcard:hover .blogfuture_img .iconhover i {
    transform: rotate(0deg);
    transition: var(--quad);
}

.blog .bloggrid .blogcard .blogtags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.blog .bloggrid .blogcard .blogtags .blogtag {
    padding: 10px;
    border: 1px solid var(--dark-blue-color);
    border-radius: 50px;
}

.blog .bloggrid .blogcard .blogtags .blogtag.cat {
    background: var(--secondary-color);
    border: none;
}

.blog .bloggrid .blogcard .blogtags .blogtag.cat a {
    color: var(--gray-color);
    font-weight: 600;
}

.blog .bloggrid .blogcard .blogtags .blogtag.date {
    background-color: var(--bold-color);
    border-color: var(--light-gray-color);
}

.blog .bloggrid .blogcard .blogstext h2 {
    font-size: 1.5rem;
    color: var(--dark-blue-color);
    margin-bottom: 5px;
}

.blog .bloggrid .blogcard .blogstext p {
    font-size: 17px;
    color: var(--dark-gray-color);
}

/* ===================================== */

/* Contact Section */

.contact {
    padding-block: 100px;
    background: var(--gray-color);
}

.contact .contacttitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact .contacttitle .contacthead h4 {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--dark-gray-color);
    left: 20%;
    margin-bottom: 10px;
}

.contact .contacttitle .contacthead h4::before {
    content: "";
    position: absolute;
    bottom: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: -20%;
    background: var(--primary-color);
    height: 2px;
    width: 30px;
}

.contact .contacttitle .contacthead2 h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact .contacttitle .contacthead2 h2 span {
    font-style: italic;
    font-weight: 400;
    color: var(--primary-color);
}

.contact .row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 65% 35%;
    gap: 20px;
    margin-top: 50px;
}

.contact .row form {
    width: 70%;
}

.contact .row form .formgroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.contact .row form .inputgroup {
    margin-bottom: 10px;
}

.contact .row form .inputgroup label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.contact .row form .inputgroup label p {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
}

.contact .row form .inputgroup label i {
    color: red;
    line-height: 0;
    font-size: 6px;
}

.contact .row form .inputgroup input,
.contact .row form .inputgroup textarea,
.contact .row form .inputgroup select {
    background: var(--bold-color);
    border: 1px solid var(--dark-gray2-color);
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    margin-top: 10px;
    font-family: inherit;
}

.contact .row form button {
    background: var(--primary-color);
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
    color: var(--bold-color);
    border-radius: 10px;
    transition: var(--sine);
}

.contact .row form button:hover {
    background: var(--dark-blue-color);
    transition: var(--sine);
}

.contact .row .contactcard {
    background: var(--dark-color);
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: fit-content;
}

.contact .row .contactcard .cardpart.contactinfo {
    padding: 35px;
}

.contact .row .contactcard .cardpart.contactinfo h2 {
    color: var(--tangy-color);
    font-size: 26px;
    padding-block: 25px;
    text-transform: uppercase;
}

.contact .row .contactcard .cardpart.contactinfo ul li {
    padding: 10px;
}

.contact .row .contactcard .cardpart.contactinfo ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--bold-color);
}

.contact .row .contactcard .cardpart.contactinfo ul li a p {
    font-size: 20px;
    font-weight: 700;
}

.contact .row .contactcard .cardpart.contactinfo ul li a i {
    font-size: 28px;
    line-height: 0;
    color: var(--secondary-color);
}

.contact .row .contactcard .cardpart.socialmedia {
    background: var(--primary-color);
    padding: 15px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

.contact .row .contactcard .cardpart.socialmedia h2 {
    color: var(--tangy-color);
    font-size: 26px;
    padding-block: 15px;
    text-transform: uppercase;
}

.contact .row .contactcard .cardpart.socialmedia ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.contact .row .contactcard .cardpart.socialmedia ul li {
    padding: 10px;
    font-size: 32px;
}

.contact .row .contactcard .cardpart.socialmedia ul li a {
    color: var(--bold-color);
    transition: var(--sine);
}

.contact .row .contactcard .cardpart.socialmedia ul li a:hover {
    color: var(--secondary-color);
    transition: var(--sine);
}

.contact .row .contactcard .cardpart.socialmedia ul li a i {
    line-height: 0;
}

/* Start Footer Style */

footer {
    padding-block-start: 25px;
}

footer .ctafooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 35px;
    border-bottom: 1px solid var(--dark-gray2-color);
}

footer .ctafooter h1 {
    font-size: 1.7rem;
    color: var(--dark-gray-color);
}

footer .ctafooter h1 span {
    color: var(--primary-color);
    font-style: italic;
    font-weight: 700;
}
footer .ctafooter button a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
    background: var(--black2-color);
    padding: 5px;
    border-radius: 50px;
    color: var(--bold-color);
}

footer .ctafooter button a p {
    background: var(--secondary-color);
    border-radius: 50px;
    padding: 15px;
    font-weight: 700;
    transition: var(--sine);
}

footer .ctafooter button:hover a p {
    background: var(--action2-color);
    color: var(--black-color);
    transition: var(--sine);
}

footer .ctafooter button a .icon {
    padding: 15px;
    color: var(--dark-color);
    border-radius: 50px;
    font-size: 18px;
    background: var(--bold-color);
    transition: var(--sine);
}

footer .ctafooter button:hover a .icon {
    color: var(--action1-color);
    transition: var(--sine);
}

footer .ctafooter button a .icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

footer .row {
    margin-top: 35px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 40% 16% 16% 28%;
}

footer .row .footercol:not(:last-child) {
    padding-right: 2.5em;
}

footer .row .logo {
    width: max-content;
    height: max-content;
    padding-block-end: 1.5em;
}

footer .row .logo img {
    max-width: 70px;
    width: 100%;
}

footer .row .logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

footer .row .logo a h1 {
    font-size: 1rem;
    line-height: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--dark-blue-color);
    width: 75px;
}

footer .row .logo a h1 span {
    color: var(--secondary-color);
}

footer .row .footercol p.aboutme {
    width: 75%;
    line-height: 1.3;
    font-size: 0.95em;
    padding-block-end: 1.5em;
}

footer .row .footercol .social_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
}

footer .row .footercol .social_link a {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: var(--gray-color);
    border-radius: 50px;
    background: var(--secondary-color);
    transition: var(--transition);
}

footer .row .footercol .social_link a:hover {
    background-color: var(--primary-color);
    color: var(--bold-color);
    transition: var(--transition);
}

footer .row .footercol h4 {
    font-size: 1.2em;
    padding-block-end: 1.5em;
    color: var(--primary-color);
}

footer .row .footercol .links .link {
    padding: 0.5em;
    width: fit-content;
}

footer .row .footercol .links .link a {
    font-size: 1.1em;
    color: var(--dark-gray-color);
    transition: var(--sine);
}

footer .row .footercol .links .link a:hover {
    color: var(--primary-color);
}

footer .row .footercol .contactlinks .contactlink {
    padding: 0.5em;
    width: fit-content;
}

footer .row .footercol .contactlinks .contactlink a {
    font-size: 1.1em;
    color: var(--dark-gray-color);
    display: flex;
    align-items: center;
    gap: 5px;
}

footer .row .footercol .contactlinks .contactlink a i {
    color: var(--dark-blue-color);
}

footer .row .footercol form {
    display: flex;
}

footer .row .footercol form input {
    background: var(--bold-color);
    border: 1px solid var(--dark-gray2-color);
    border-radius: 10px 0 0 10px;
    padding: 15px;
    width: 85%;
    font-family: inherit;
}

footer .row .footercol form button i {
    line-height: 0;
}

footer .row .footercol form button {
    background: var(--dark-blue-color);
    color: var(--bold-color);
    border-radius: 0 10px 10px 0;
    padding: 15px;
    width: 15%;
    font-family: inherit;
    transition: var(--sine);
}

footer .row .footercol form button:hover {
    background-color: var(--secondary-color);
}

footer .footerinfo {
    background: var(--black-color);
    color: var(--bold-color);
    padding-block: 20px;
    margin-top: 35px;
}

footer .footerinfo .container {
    display: flex;
    justify-content: space-between;
}

footer .footerinfo .infocol p {
    font-size: 1.1em;
}

footer .footerinfo .infocol p > span {
    color: var(--secondary-color);
}

footer .footerinfo .infocol a {
    color: var(--bold-color);
}

footer .footerinfo .infocol span {
    padding-right: 5px;
    padding-left: 5px;
}

/* End Footer Style */

/* Resposive Code */

/* 
    ====================
    Start Header Responsive
    ====================
*/

@media (max-width: 996px) {
    header.header {
        width: 95%;
    }

    header.header2 {
        width: 95%;
    }

    header.header nav.navbar ul,
    header.header nav.navbar .contact_btn {
        display: none;
    }

    header.header nav .menubtn {
        visibility: visible;
        display: block;
    }
}